body{
    margin: 0%;
}

.bg{
    background-image: url("./imagens/background.jpg");
    min-height: 40%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
}

.titulo{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 450%;
    color: rgb(255, 255, 255);
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 20%;
    left: 50%;
}

.title{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 200%;
    text-align: left;
}

.navbar{
    overflow: hidden;
    background-color: rgb(46, 44, 45);
    top: 0;
    width: 100%;
    opacity: 80%;
}

.navbar a{
    font-family: "Lucida Console", "Courier New", monospace;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1.25% 2%;
    text-decoration: none;
}

.navbar a:hover{
    background: #ddd;
    color: black;
}

.container{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
}

.text{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: larger;
    margin-left: 3%;
    margin-right: 2%;
    margin-top: 1%;
}

img{
    max-width: 100%;
}

.gif{
    flex-basis: 130%;
    margin-left: 1%;
}